<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materiel">
            <h2><span jhiTranslate="gestionStockApp.materiel.detail.title">Materiel</span> {{ materiel.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionStockApp.materiel.code">Code</span></dt>
                <dd>
                    <span>{{ materiel.code }}</span>
                </dd>
                <dt><span jhiTranslate="gestionStockApp.materiel.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ materiel.libelle }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/materiel', materiel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
